#container {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
}

.square {
    width: calc(100% / var(--grid-Size));
    height: calc(100% / var(--grid-Size));
    box-sizing: border-box;
    border: 1px solid #000;
}